<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="baseDatosFarmacias" connectionString="Data Source=190.196.221.148\MSSQL2016_ORBYTA;Initial Catalog=DB_VENTA_SIMPLE;User ID=sa;Password=Lovecraft314159265" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DoceleOLSOAP" maxReceivedMessageSize = "1000000">
          <security mode="Transport" />
        </binding>
        <binding name="DoceleOLSOAP1" />
      </basicHttpBinding>
    </bindings>
    <client>
      
      
      
      <endpoint address="https://radal.docele.cl/DoceleOL_Auth/DoceleOLService"
          binding="basicHttpBinding" bindingConfiguration="DoceleOLSOAP"
          contract="DoceleOLService.DoceleOL" name="DoceleOLService" />

      <!--endpoint address="https://caoba.docele.cl/DoceleOL_Auth_QA-202009/DoceleOLService"
          binding="basicHttpBinding" bindingConfiguration="DoceleOLSOAP"
          contract="DoceleOLService.DoceleOL" name="DoceleOLService" />-->
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="Ambiente" value="cer"/>
    <add key="Sucursal" value="Providencia"/>
    <add key="Proveedor" value="facele"/>
  </appSettings>
</configuration>